.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  min-width: 160px;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
  .gotoApp {
    color: white;
    text-decoration: none;
  }
}
.button:hover {
  background-color: #0056b3;
}

