.Pokecard {
  width: 200px;
  padding: 10px;
  margin: 1rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  text-align: center;
  background-color: white;
  border-radius: 4px;
  h3 {
    color: #4d4d4d;
  }
  p {
    font-size: 12px;
  }
  .slot {
    margin: auto;
    margin-top: 0.5rem;
    width: 86%;
    height: 150px;
    background-color: #eceff1;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    justify-content: center;
    position: relative;
    overflow: hidden;
    .images {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 10px;
      background-color: transparent;
      position: absolute;
      border: 1px solid #4d4d4d;
      img {
        width: 100%;
        height: auto;
        margin: 10px;
      }
      img:hover {
        transform: scale(1.15);
        transition: 500ms;
      }
    }
  }
}

.images.animated {
  top: 0px;
}

.images.animation {
  animation: roll 1s ease-in-out forwards;
}

@keyframes roll {
  0% {
    top: -470px;
  }
  100% {
    top: 0px;
  }
}

.Pokecard .hidden {
  visibility: hidden;
}

/* Adjustments for screens larger than 1024px */
@media (max-width: 1024px) {
  .Pokecard {
    width: 180px;
  }
  .slot {
    height: 120px;
  }
  h3 {
    font-size: 12px;
  }
  p {
    font-size: 8px;
  }
}

@media (max-width: 840px) {
  .Pokecard {
    width: 150px;
    .slot {
      height: 120px;
    }
    h3 {
      font-size: 12px;
    }
    p {
      font-size: 8px;
    }
  }
}
@media (max-width: 768px) {
  .Pokecard {
    width: 120px;
    margin: 0.5rem;
    .slot {
      height: 100px;
    }
  }
}
@media (max-width: 576px) {
  .Pokecard {
    width: 100px;
    margin: 0.5rem;
    .slot {
      height: 80px;
    }
    h3 {
      font-size: 10px;
    }
    p {
      font-size: 6px;
    }
  }
}
@media (max-width: 486px) {
  .Pokecard {
    width: 80px;
    margin: 0.3rem;
    .slot {
      height: 60px;
    }
    h3 {
      font-size: 6px;
    }
    p {
      font-size: 4px;
    }
  }
}
