.pokegame {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eceff1;
  color: #4d4d4d;
}

.Pokeroll {
  text-align: center;
  display: flex;
  width: fit-content;
}
.totalExp {
  margin-left: 14px;
}

@media only screen and (max-width: 768px) {
  .Pokeroll {
    margin-top: 20px;
  }
  .totalExp{
    font-size: 12px;
    margin-left: 12px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .totalExp{
    font-size: 10px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 468px) {
  .totalExp{
    margin-left: 8px;
  }
  
}
