.App {
  background: #212534;
  color: white;
}

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-content {
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.pokemon-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

.button:hover {
  background-color: #0056b3;
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-content {
  text-align: center;
}

.error-heading {
  font-size: 10rem;
  margin-bottom: 20px;
  color: #dc3545;
}

.error-subheading {
  margin-bottom: 20px;
}

.error-message {
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  .button {
    padding: 8px 16px;
    font-size: 1rem;
  }

  .error-heading {
    font-size: 7rem;
  }

  .error-subheading {
    font-size: 2rem;
  }

  .error-message {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .button {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
}
